$theme-colors: ("primary": #FF69B4);
$grid-breakpoints: ( xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1920px);
$container-max-widths: ( sm: 540px, md: 720px, lg: 960px, xl: 1140px, xxl: 1432px);
$main-button-color: linear-gradient(to right, #f16a46 0%, #ed337c 50%, #8e489b 100%);
$hover-button-color: linear-gradient(to left, #f16a46 0%, #ed337c 50%, #8e489b 100%);
$dark-bg-color: #fff;
$dark-bg-background: #000;
$dark-bg-padding: 3px 5px 3px 10px;
$light-bg-background: #f5f5f5;
$light-bg-padding: 3px 0px 3px 5px;
@import "node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 26px;
    font-weight: 300;
}

h4 {
    font-size: 20px;
}

p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
}

.container {
    padding-left: 45px;
    padding-right: 45px;
}

#main-header {
    width: 100%;
    height: 62px;
    background-image: linear-gradient(269deg, #1c1c1c 0%, #2d2d2d 100%);
    display: flex;
    position: fixed;
    z-index: 999;
    align-items: center;
    #main-header-nav {
        padding: 0 24px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        #main-header-logo {
            display: flex;
            align-items: center;
            #header-logo-img {
                width: 126.17px;
            }
        }
        #main-header-buttons {
            display: flex;
            font-weight: 600;
            font-size: 14px;
            letter-spacing: 0.49px;
            line-height: 19px;
            .header-buttons {
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                height: 34px;
                width: 122px;
                color: #fff;
                text-transform: uppercase;
            }
            a:hover {
                color: #fff;
                text-decoration: none;
            }
            .login-button {
                height: 36px;
                margin-right: 9px;
                background-image: $main-button-color;
                &:hover {
                    background-image: $hover-button-color;
                }
            }
            .register-button {
                border: 1px solid #fff;
                &:hover {
                    color: #000;
                    background-color: #fff;
                    border: 1px solid #000;
                }
            }
        }
    }
}

.header {
    width: 100%;
    height: 62px;
    background-image: linear-gradient(269deg, #1c1c1c 0%, #2d2d2d 100%);
}

.divider {
    width: 100%;
    height: 4px;
    background-image: $main-button-color;
    position: fixed;
    z-index: 999;
}

#main-block {
    #welcome-block {
        .wraper {
            height: auto;
        }
        .wraper-block-first {
            margin-bottom: 100px;
            padding-bottom: 100px;
            background-color: rgba(251, 251, 251, 0.95);
            background-image: url('../img/cutting-edge-line.svg');
            background-repeat: no-repeat;
            background-size: 163%;
            background-position: 82% 38%;
            #currency {
                padding-top: 15px;
                margin-bottom: 15px;
                span {
                    color: #2a2a2a;
                    font-size: 16px;
                    font-weight: 300;
                    letter-spacing: 0.56px;
                    line-height: 35px;
                    text-transform: uppercase;
                }
            }
            .block-first {
                height: 100%;
                padding-top: 50px;
                #welcome {
                    display: block;
                    font-size: 32px;
                    font-weight: 300;
                    letter-spacing: 1.4px;
                    padding-bottom: 20px;
                    color: #232323;
                }
                #welcome-buttons {
                    display: flex;
                    font-weight: 600;
                    font-size: 14px;
                    letter-spacing: 0.49px;
                    line-height: 19px;
                    margin-bottom: 115px;
                    .welcome-buttons {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-decoration: none;
                        height: 50px;
                        width: 200px;
                        text-transform: uppercase;
                    }
                    a:hover {
                        text-decoration: none;
                    }
                    .get-started-button {
                        color: #fff;
                        margin-right: 9px;
                        background-image: $main-button-color;
                        &:hover {
                            background-image: $hover-button-color;
                        }
                    }
                    .watch-video-button {
                        color: #252525;
                        border: 1px solid #252525;
                        &:hover {
                            color: #fff;
                            background-color: #252525;
                            border: 1px solid #fff;
                        }
                    }
                }
                h1 {
                    max-width: 450px;
                    font-weight: 700;
                    line-height: 63px;
                    color: #232323;
                    margin-bottom: 45px;
                    text-transform: uppercase;
                }
                .welcome-image-placeholder {
                    width: 100%;
                }
                .social {
                    position: relative;
                    padding-bottom: 20px;
                    &:after {
                        content: '';
                        display: inline-block;
                        vertical-align: middle;
                        box-sizing: border-box;
                        width: 100%;
                        height: 3px;
                        position: absolute;
                        bottom: 0;
                        background-image: $main-button-color;
                        margin-left: -100%;
                    }
                    .social-dark-links {
                        padding-right: 15px;
                        img {
                            width: 29px;
                        }
                    }
                }
            }
        }
        .wraper-block-second {
            background: url(../img/abstraction-circle.png) no-repeat;
            background-position: left;
            background-size: 30%;
            .block-second {
                height: 100%;
                margin-bottom: 100px;
                padding-top: 50px;
                padding-bottom: 50px;
                .circle-img {
                    width: 100%;
                    .circle-items {
                        z-index: 99;
                    }
                    .circle-items-grey {
                        filter: grayscale(1) opacity(.2)
                    }
                    #img-dashboards-section {
                        position: absolute;
                        bottom: 46%;
                        right: 2%;
                    }
                    #img-software-section {
                        position: absolute;
                        bottom: 13%;
                        right: 13%;
                    }
                    #img-layout-section {
                        position: absolute;
                        bottom: -1%;
                        right: 46%;
                    }
                    #img-features-section {
                        position: absolute;
                        bottom: 13%;
                        left: 13%;
                    }
                    #img-crypto-section {
                        position: absolute;
                        bottom: 48%;
                        left: 2%;
                    }
                    #img-newsfeeds-section {
                        position: absolute;
                        top: 7%;
                        left: 14%;
                    }
                    #img-security-section {
                        position: absolute;
                        top: -7%;
                        left: 46%;
                    }
                    #img-solution-section {
                        position: absolute;
                        top: 7%;
                        right: 14%;
                    }
                }
                .circle-logo {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 100%;
                    height: 100%;
                    max-width: 409px;
                    max-height: 409px;
                    border: 1px solid #f3f3f3;
                    border-radius: 50%;
                    background-color: rgba(245, 245, 245, 0.4);
                    text-align: center;
                    display: flex;
                    align-items: center;
                    align-content: center;
                    justify-content: center;
                    img {
                        padding-bottom: 25px;
                    }
                    span {
                        display: block;
                        max-width: 280px;
                        font-size: 28px;
                        font-weight: 600;
                        letter-spacing: 0.98px;
                        line-height: 40px;
                    }
                }
                .description {
                    padding: 0 30px;
                    h3 {
                        padding-top: 3px;
                        padding-bottom: 40px;
                        text-transform: uppercase;
                        text-align: right;
                        overflow: hidden;
                        &:before {
                            content: '';
                            display: inline-block;
                            vertical-align: middle;
                            box-sizing: border-box;
                            width: 100%;
                            height: 3px;
                            background: #000;
                            margin-left: -100%;
                            margin-right: 25px;
                        }
                        .dark-bg {
                            color: $dark-bg-color;
                            background: $dark-bg-background;
                            padding: $dark-bg-padding;
                        }
                        .light-bg {
                            background: $light-bg-background;
                            padding: $light-bg-padding;
                        }
                    }
                    .description-info {
                        margin-bottom: 25px;
                        h2 {
                            font-weight: 700;
                            margin-bottom: 25px;
                        }
                        p {
                            color: #000000;
                            font-weight: 400;
                            text-align: justify;
                        }
                    }
                    .register-link {
                        width: 100%;
                        display: block;
                        text-transform: uppercase;
                        text-align: right;
                        &:hover {
                            text-decoration: none;
                        }
                        img {
                            width: 14px;
                        }
                    }
                }
            }
            //blolck-second
        }
        .wraper-graphs {
            margin-bottom: 140px;
            background: url(../img/abstraction-graps-bottom.svg) left bottom no-repeat, url(../img/abstraction-graps-top.svg) top right no-repeat;
            background-size: 40%, 60%;
            .main-features-background {
                width: 100%;
                background: #fafafa;
                margin-bottom: 115px;
                position: sticky;
                top: 65px;
                z-index: 1020;
                .block-third {
                    padding: 45px 30px;
                    .main-features {
                        h3 {
                            text-transform: uppercase;
                            text-align: right;
                            .dark-bg {
                                color: $dark-bg-color;
                                background: $dark-bg-background;
                                padding: $dark-bg-padding;
                            }
                            .light-bg {
                                background: $light-bg-background;
                                padding: $light-bg-padding;
                            }
                        }
                    }
                    .main-features-description {
                        h2 {
                            border-left: 3px solid #000;
                            padding-left: 50px;
                            margin-left: 15px;
                            text-transform: uppercase;
                            color: #262626;
                            font-weight: 500;
                        }
                    }
                } //block-third
            } ///main-features-background
            .block-graphs {
                box-shadow: 1px 2px 9px rgba(0, 0, 0, 0.07);
                background-color: #fefefe;
                padding: 33px;
                margin-bottom: 110px;
                .graphs-description {
                    .number-block-graphs {
                        color: #dedede;
                        font-size: 82px;
                        font-weight: 700;
                        letter-spacing: 2.87px;
                    }
                    h2 {
                        position: relative;
                        padding-bottom: 35px;
                        padding-top: 30px;
                        text-transform: uppercase;
                        color: #1c1b1c;
                        font-weight: 700;
                        line-height: 43px;
                        overflow: hidden;
                        &:after {
                            content: '';
                            display: inline-block;
                            vertical-align: middle;
                            box-sizing: border-box;
                            width: 100%;
                            height: 3px;
                            position: absolute;
                            bottom: 0;
                            left: 45%;
                            background: #000;
                            margin-left: -100%;
                            margin-right: 25px;
                        }
                    }
                    p {
                        color: #1c1c1c;
                        font-weight: 400;
                        padding-top: 38px;
                        padding-bottom: 43px;
                        margin-bottom: 0;
                    }
                    .register-link {
                        width: 100%;
                        display: block;
                        text-transform: uppercase;
                        padding-bottom: 20px;
                        &:hover {
                            text-decoration: none;
                        }
                        img {
                            padding-bottom: 3px;
                        }
                    }
                }
                .title-mobile {
                    display: none;
                }
                .graphs-img {
                    img {
                        width: 100%;
                    }
                }
                .graphs-description-reverse {
                    text-align: right;
                    img {
                        float: right;
                    }
                    h2 {
                        clear: both;
                        &:after {
                            margin-left: 25px;
                            margin-right: -100%;
                        }
                    }
                    .register-link {
                        img {
                            padding-top: 4px;
                        }
                    }
                }
            }
        }
        .wraper-block-customer {
            padding-top: 35px;
            background: linear-gradient(to bottom, #f8f8f8 44%, #fff 0%);
            .block-customer {
                margin-bottom: 140px;
                height: 100%;
                background-color: #fff;
                box-shadow: 1px 4px 12px rgba(0, 0, 0, 0.1);
                padding-left: 58px;
                padding-right: 58px;
                padding-top: 41px;
                padding-bottom: 41px;
                .customers {
                    h3 {
                        padding-top: 3px;
                        padding-bottom: 40px;
                        text-transform: uppercase;
                        overflow: hidden;
                        &:after {
                            content: '';
                            display: inline-block;
                            vertical-align: middle;
                            box-sizing: border-box;
                            width: 100%;
                            height: 3px;
                            background: #000;
                            margin-right: -100%;
                            margin-left: 25px;
                        }
                        .dark-bg {
                            color: $dark-bg-color;
                            background: $dark-bg-background;
                            padding: $dark-bg-padding;
                        }
                        .light-bg {
                            background: $light-bg-background;
                            padding: $light-bg-padding;
                        }
                    }
                }
                hr {
                    height: 2px;
                    background-color: #f8f8f8;
                    margin-top: 25px;
                    margin-bottom: 20px;
                }
                .customers-windows-description {
                    h4 {
                        color: #292929;
                        text-align: center;
                        font-weight: 700;
                        line-height: 30px;
                        text-transform: uppercase;
                    }
                    .customer-window {
                        margin-top: 13px;
                        position: relative;
                        overflow: hidden;
                        &:hover .customer-window-background {
                            transform: translateY(0);
                        }
                        .customer-window-background {
                            height: 90%;
                            transform: translateY(-150%);
                            transition: 0.7s;
                            position: absolute;
                            background: $main-button-color;
                            color: #fff;
                            padding: 20px;
                            h5 {
                                font-size: 14px;
                                font-weight: 700;
                                letter-spacing: 0.56px;
                                line-height: 19px;
                                text-align: center;
                            }
                            p {
                                font-size: 12px;
                                font-weight: 400;
                                line-height: 25px;
                            }
                        }
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
        .block-about-us {
            height: 100%;
            margin-bottom: 100px;
            h2 {
                padding-bottom: 15px;
                margin-bottom: 0;
                font-size: 28px;
                font-weight: 700;
                text-transform: uppercase;
                text-align: center;
            }
            p {
                text-align: center;
                padding-bottom: 45px;
                margin-bottom: 0;
            }
            .about-us-video {
                width: 70%;
                margin: 0 auto;
                padding-bottom: 25px;
                video {
                    width: 100%;
                }
            }
            hr {
                width: 200px;
                text-align: center;
                height: 2px;
                background: #707070;
            }
        }
        .block-solution {
            height: 100%;
            margin-bottom: 100px;
            h2 {
                font-weight: 700;
                line-height: 43px;
                text-transform: uppercase;
            }
            p {
                padding-top: 20px;
                text-align: justify;
            }
            img {
                width: 100%;
            }
        }
        .wraper-block-feedback {
            background: #000;
            .block-feedback {
                padding-top: 60px;
                padding-bottom: 40px;
                .feedback-description {
                    width: 90%;
                    margin: 0 auto;
                    color: #fbfbfb;
                    text-align: center;
                    h2 {
                        padding-bottom: 43px;
                    }
                    #feedback-button {
                        display: flex;
                        justify-content: center;
                        font-weight: 600;
                        font-size: 14px;
                        letter-spacing: 0.49px;
                        line-height: 19px;
                        padding-top: 25px;
                        .feedback-button {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-decoration: none;
                            height: 50px;
                            width: 230px;
                            text-transform: uppercase;
                            color: #fff;
                            background-image: $main-button-color;
                            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
                            &:hover {
                                background-image: $hover-button-color;
                            }
                        }
                        a:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
        }
        .block-partners {
            padding-top: 100px;
            padding-bottom: 132px;
            text-align: center;
            h2 {
                padding-bottom: 99px;
                color: #292929;
                font-size: 30px;
                font-weight: 600;
                text-transform: uppercase;
            }
            img {
                width: 100%;
                filter: grayscale(1);
                &:hover {
                    filter: none;
                }
            }
            .partner-section-input {
                width: 100%;
                padding-top: 99px;
                p {
                    text-align: right;
                    font-size: 20px;
                    margin-bottom: 0;
                    color: #292929;
                }
                .input-group {
                    .form-control {
                        border: 1px solid #292929;
                        border-radius: 0;
                        font-size: 20px;
                        max-width: 360px;
                    }
                    .input-group-append {
                        .btn-outline-secondary {
                            background-color: #292929;
                            border: 1px solid #292929;
                            font-size: 20px;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
} //main-block
footer {
    padding-top: 50px;
    padding-bottom: 47px;
    text-align: left;
    text-transform: uppercase;
    color: #fff;
    background-color: #292929;
    .footer-menu-link {
        text-decoration: none;
        color: #fff;
        &:hover {
            text-decoration: none;
        }
    }
    .social-footer {
        .social-light-links {
            padding-right: 5px;
            img {
                width: 29px;
                filter: invert(1);
            }
        }
    }
    .footer-logo {
        text-align: center;
        hr {
            height: 2px;
            background-color: #f5f5f5;
            opacity: 0.17;
            margin-top: 30px;
        }
        img {
            padding-top: 35px;
            padding-bottom: 35px;
        }
        p {
            font-size: 14px;
            text-align: center;
        }
    }
}

// *** MEDIA ***
@media(min-width: 2360px) {
    #main-block {
        #welcome-block {
            .wraper-graphs {
                background-size: 40%, 70%;
            }
            .wraper-block-customer {
                .block-customer {
                    .customers-windows-description {
                        .customer-window {
                            .customer-window-background {
                                height: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1919px) {
    h1 {
        font-size: 28px;
        ;
    }
    h2 {
        font-size: 17px;
    }
    p {
        font-size: 14px;
    }
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    #main-block {
        #welcome-block {
            .wraper {
                height: auto;
            }
            .wraper-block-first {
                padding-bottom: 50px;
                #currency {
                    padding-top: 15px;
                    margin-bottom: 15px;
                    span {
                        color: #2a2a2a;
                        font-size: 16px;
                        font-weight: 300;
                        letter-spacing: 0.56px;
                        line-height: 35px;
                        text-transform: uppercase;
                    }
                }
                .block-first {
                    #welcome {
                        padding-top: 35px;
                    }
                    #welcome-buttons {
                        margin-bottom: 70px;
                    }
                    h1 {
                        margin-bottom: 35px;
                        line-height: 50px;
                    }
                    .welcome-image-placeholder {
                        img {
                            width: 100%;
                        }
                    }
                    .social {
                        position: relative;
                        padding-bottom: 20px;
                    }
                }
            }
            .wraper-block-second {
                .block-second {
                    .circle-logo {
                        width: 100%;
                        height: 100%;
                        max-width: 350px;
                        max-height: 350px;
                        img {
                            max-width: 120px;
                        }
                        span {
                            max-width: 240px;
                            font-size: 24px;
                        }
                    }
                }
            }
            .wraper-graphs {
                .main-features-background {
                    .block-third {
                        padding: 35px 30px;
                    }
                    //block-third
                }
                .block-graphs {
                    padding: 19px 19px 15px 19px;
                    .graphs-description {
                        .number-block-graphs {
                            font-size: 51px;
                            font-weight: 700;
                            letter-spacing: 1.78px;
                        }
                        h2 {
                            padding-top: 15px;
                            padding-bottom: 15px;
                            font-weight: 700;
                            line-height: 43px;
                            &:after {
                                left: 30%;
                            }
                        }
                        p {
                            padding-top: 15px;
                            padding-bottom: 15px;
                        }
                    }
                    .graphs-description-reverse {
                        h2 {
                            &:after {
                                left: 60%;
                            }
                        }
                    }
                }
            }
            .wraper-block-customer {
                .block-customer {
                    margin-bottom: 100px;
                    hr {
                        margin-bottom: 30px;
                    }
                    .customers-windows-description {
                        .customer-window {
                            margin-top: 13px;
                            position: relative;
                            overflow: hidden;
                            &:hover .customer-window-background {
                                transform: translateY(0);
                            }
                            .customer-window-background {
                                height: 90%;
                                margin-top: 15px;
                                transform: translateY(-150%);
                                transition: 0.7s;
                                position: absolute;
                                background: $main-button-color;
                                color: #fff;
                                padding: 20px;
                                h5 {
                                    font-size: 12px;
                                    font-weight: 700;
                                    letter-spacing: 0.56px;
                                    line-height: 19px;
                                    text-align: center;
                                }
                                p {
                                    font-size: 11px;
                                    font-weight: 400;
                                    line-height: 19px;
                                }
                            }
                            img {
                                padding-top: 15px;
                                padding-bottom: 15px;
                            }
                        }
                    }
                }
            }
            .block-about-us {
                margin-bottom: 80px;
                h2 {
                    padding-bottom: 13px;
                }
                p {
                    padding-bottom: 26px;
                }
                .about-us-video {
                    padding-bottom: 20px;
                }
            }
            .block-solution {
                margin-bottom: 80px;
                p {
                    padding-top: 5px;
                }
            }
            .wraper-block-feedback {
                .block-feedback {
                    .feedback-description {
                        h2 {
                            padding-bottom: 10px;
                        }
                        #feedback-button {
                            padding-top: 10px;
                        }
                    }
                }
            }
            .block-partners {
                padding-top: 100px;
                padding-bottom: 100px;
                h2 {
                    padding-bottom: 70px;
                }
                img {
                    width: 100%;
                }
                .partner-section-input {
                    width: 100%;
                    padding-top: 99px;
                    p {
                        text-align: right;
                        font-size: 20px;
                        margin-bottom: 0;
                        color: #292929;
                    }
                    .input-group {
                        .form-control {
                            border: 1px solid #292929;
                            border-radius: 0;
                            font-size: 20px;
                            max-width: 360px;
                        }
                        .input-group-append {
                            .btn-outline-secondary {
                                background-color: #292929;
                                border: 1px solid #292929;
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
} //1919
@media (max-width: 992px) {
    h1 {
        font-size: 24px;
    }
    h3 {
        font-size: 22px;
    }
    h4 {
        font-size: 16px;
    }
    p {
        font-size: 12px;
    }
    #main-block {
        #welcome-block {
            .wraper-block-first {
                margin-bottom: 0px;
                .block-first {
                    padding-left: 30px;
                    padding-right: 30px;
                    #welcome {
                        font-size: 24px;
                    }
                    #welcome-buttons {
                        font-size: 12px;
                        margin-bottom: 63px;
                        .welcome-buttons {
                            height: 41px;
                            width: 150px;
                        }
                    }
                    h1 {
                        font-weight: 600;
                        line-height: 40px;
                        margin-bottom: 35px;
                        max-width: 400px;
                    }
                    .welcome-image-placeholder {
                        img {
                            width: 100%;
                        }
                    }
                    .social {
                        position: relative;
                        padding-bottom: 20px;
                        &:after {
                            display: inline-block;
                        }
                    }
                }
            }
            .wraper-block-second {
                .block-second {
                    margin-bottom: 0px;
                    .circle-img {
                        .circle-items {
                            width: 32px;
                        }
                    }
                    .circle-logo {
                        width: 100%;
                        height: 100%;
                        max-width: 200px;
                        max-height: 200px;
                        img {
                            max-width: 80px;
                            padding-bottom: 15px;
                        }
                        span {
                            max-width: 130px;
                            font-size: 12px;
                            font-weight: 600;
                            letter-spacing: 0.63px;
                            line-height: 18px;
                        }
                    }
                }
                .description {
                    h3 {
                        padding-bottom: 25px;
                        font-size: 22px;
                    }
                    .description-info {
                        p {
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 25px;
                        }
                    }
                }
            }
            .wraper-graphs {
                margin-bottom: 100px;
                background: none;
                .main-features-background {
                    margin-bottom: 55px;
                }
                .block-graphs {
                    padding: 19px 19px 15px 19px;
                    margin-bottom: 65px;
                    .graphs-description {
                        .number-block-graphs {
                            font-size: 29px;
                            font-weight: 700;
                            letter-spacing: 1.78px;
                        }
                        h2 {
                            padding-top: 0px;
                            padding-bottom: 10px;
                            font-weight: 700;
                            line-height: 43px;
                            &:after {
                                left: 30%;
                            }
                        }
                        p {
                            padding-top: 10px;
                            padding-bottom: 10px;
                            line-height: 25px;
                        }
                        .register-link {
                            padding-bottom: 0;
                        }
                    }
                    .graphs-description-reverse {
                        h2 {
                            &:after {
                                left: 60%;
                            }
                        }
                    }
                }
            }
            .block-customer {
                padding-left: 50px;
                padding-right: 50px;
                padding-top: 32px;
                padding-bottom: 50px;
                margin-bottom: 100px;
                hr {
                    margin-top: 0px;
                }
                .customers-windows-description {
                    .customer-window {
                        margin-top: 13px;
                        position: relative;
                        overflow: hidden;
                        &:hover .customer-window-background {
                            transform: translateY(0);
                        }
                        .customer-window-background {
                            display: none;
                            height: 90%;
                            margin-top: 15px;
                            transform: translateY(-150%);
                            transition: 0.7s;
                            position: absolute;
                            background: $main-button-color;
                            color: #fff;
                            padding: 20px;
                            h5 {
                                font-size: 14px;
                                font-weight: 700;
                                letter-spacing: 0.56px;
                                line-height: 19px;
                                text-align: center;
                            }
                            p {
                                font-size: 12px;
                                font-weight: 400;
                                line-height: 25px;
                            }
                        }
                        img {
                            padding-top: 13px;
                            padding-bottom: 0px;
                        }
                    }
                }
            }
            .block-about-us {
                margin-bottom: 65px;
                h2 {
                    padding-bottom: 13px;
                }
                p {
                    padding-bottom: 26px;
                }
                .about-us-video {
                    padding-bottom: 20px;
                }
                hr {
                    width: 200px;
                    text-align: center;
                    height: 3px;
                    background: #707070;
                }
            }
            .block-solution {
                margin-bottom: 70px;
                h2 {
                    line-height: 35px;
                    max-width: 330px;
                }
                p {
                    padding-top: 7px;
                    line-height: 25px;
                }
            }
            .wraper-block-feedback {
                .block-feedback {
                    padding-top: 60px;
                    padding-bottom: 40px;
                    .feedback-description {
                        h2 {
                            padding-bottom: 20px;
                        }
                        #feedback-button {
                            padding-top: 15px;
                        }
                    }
                }
            }
            .block-partners {
                padding-top: 70px;
                padding-bottom: 80px;
                h2 {
                    padding-bottom: 70px;
                }
                img {
                    width: 100%;
                }
                .partner-section-input {
                    width: 100%;
                    padding-top: 99px;
                    p {
                        text-align: right;
                        font-size: 20px;
                        margin-bottom: 0;
                        color: #292929;
                    }
                    .input-group {
                        .form-control {
                            border: 1px solid #292929;
                            border-radius: 0;
                            font-size: 20px;
                            max-width: 360px;
                        }
                        .input-group-append {
                            .btn-outline-secondary {
                                background-color: #292929;
                                border: 1px solid #292929;
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

//992
@media(max-width: 767px) {
    h1 {
        font-size: 24px;
    }
    h2,
    h3 {
        font-size: 17px;
    }
    h4 {
        font-size: 18px;
    }
    p {
        font-size: 12px;
        text-align: justify;
    }
    #main-header {
        #main-header-nav {
            #main-header-buttons {
                .register-button {
                    display: none;
                }
            }
        }
    }
    #main-block {
        #welcome-block {
            .wraper-block-first {
                height: 100%;
                margin-bottom: 5px;
                background-color: #fff;
                background-image: none;
                #currency {
                    padding-top: 15px;
                    margin-bottom: 15px;
                    span {
                        color: #2a2a2a;
                        font-size: 16px;
                        font-weight: 300;
                        letter-spacing: 0.56px;
                        line-height: 35px;
                        text-transform: uppercase;
                    }
                }
                .block-first {
                    height: 100%;
                    padding-top: 5px;
                    #welcome {
                        font-size: 24px;
                        padding-bottom: 7px;
                    }
                    #welcome-buttons {
                        font-size: 12px;
                        margin-bottom: 35px;
                        .welcome-buttons {
                            height: 41px;
                            width: 150px;
                        }
                    }
                    h1 {
                        margin-bottom: 20px;
                        max-width: 400px;
                        line-height: 36px;
                    }
                    .welcome-image-placeholder {
                        img {
                            width: 100%;
                        }
                    }
                    .social {
                        position: relative;
                        padding-bottom: 20px;
                        &:after {
                            display: inline-block;
                        }
                    }
                }
            }
            .wraper-block-second {
                .block-second {
                    display: none;
                }
            }
            .wraper-graphs {
                margin-bottom: 20px;
                background: none;
                .main-features-background {
                    width: 100%;
                    background: fff;
                    margin-bottom: 0;
                    position: inherit;
                    z-index: 99;
                    .block-third {
                        padding-top: 30px;
                        padding-bottom: 10px;
                        .main-features {
                            h3 {
                                margin-bottom: 20px;
                                text-align: center;
                            }
                        }
                        .main-features-description {
                            h2 {
                                display: none;
                            }
                        }
                    }
                    //block-third
                }
                ///main-features-background
                .block-graphs {
                    box-shadow: none;
                    padding: 0px 20px;
                    margin-bottom: 0;
                    .graphs-description {
                        .number-block-graphs {
                            display: none;
                        }
                        h2 {
                            display: none;
                        }
                        p {
                            color: #1c1c1c;
                            font-weight: 400;
                            padding-top: 38px;
                            padding-bottom: 43px;
                            margin-bottom: 0;
                        }
                        .register-link {
                            width: 100%;
                            display: block;
                            text-transform: uppercase;
                            padding-bottom: 20px;
                            text-align: right;
                            overflow: hidden;
                            img {
                                width: 14px;
                                padding-bottom: 3px;
                            }
                            &:before {
                                content: '';
                                display: inline-block;
                                vertical-align: middle;
                                box-sizing: border-box;
                                width: 100%;
                                height: 3px;
                                background: #1b1b1b;
                                margin-left: -100%;
                                margin-right: 20%;
                            }
                            &:hover {
                                text-decoration: none;
                            }
                        }
                    }
                    .graphs-description-reverse {
                        .register-link {
                            img {
                                padding-top: 6px;
                            }
                        }
                    }
                    .title-mobile {
                        display: block;
                        color: #1c1b1c;
                        font-size: 17px;
                        font-weight: 700;
                        letter-spacing: 0.59px;
                        line-height: 63px;
                        text-transform: uppercase;
                        text-align: center;
                    }
                    .graphs-img {
                        img {
                            width: 100%;
                        }
                    }
                    .graphs-description-reverse {
                        text-align: right;
                        img {
                            float: right;
                        }
                        h2 {
                            clear: both;
                            &:after {
                                margin-left: 25px;
                                margin-right: -100%;
                            }
                        }
                    }
                }
            }
            .block-customer {
                margin-bottom: 20px;
                height: 100%;
                box-shadow: none;
                padding-left: 58px;
                padding-right: 58px;
                padding-bottom: 0px;
                .customers {
                    h3 {
                        text-align: center;
                        &:after {
                            content: '';
                            display: none;
                        }
                    }
                    h2 {
                        display: none;
                    }
                }
                lottie-player {
                    display: none;
                }
                hr {
                    display: none;
                }
                .customers-windows-description {
                    h4 {
                        color: #292929;
                        text-align: center;
                        font-weight: 700;
                        line-height: 30px;
                        text-transform: uppercase;
                    }
                    .customer-window {
                        margin-top: 13px;
                        position: relative;
                        overflow: hidden;
                        .customer-window-background {
                            display: none;
                            h5 {
                                font-size: 14px;
                                font-weight: 700;
                                letter-spacing: 0.56px;
                                line-height: 19px;
                                text-align: center;
                            }
                            p {
                                font-size: 12px;
                                font-weight: 400;
                                line-height: 25px;
                            }
                        }
                        img {
                            padding-top: 15px;
                            padding-bottom: 21px;
                        }
                    }
                }
            }
            .block-about-us {
                padding-left: 20px;
                padding-right: 20px;
                margin-bottom: 5px;
                h2 {
                    font-size: 24px;
                    padding-bottom: 12px;
                }
                p {
                    padding-bottom: 20px;
                }
                .about-us-video {
                    width: 100%;
                    padding-bottom: 4px;
                    video {
                        padding: 0 38px;
                    }
                }
                hr {
                    width: 80px;
                    height: 1px;
                }
            }
            .block-solution {
                height: 100%;
                margin-bottom: 20px;
                padding-left: 20px;
                padding-right: 20px;
                h2 {
                    font-size: 24px;
                    text-align: center;
                    margin: 0 auto 8px;
                }
                p {
                    padding-top: 10px;
                    font-size: 14px;
                }
                img {
                    display: none;
                }
            }
            .wraper-block-feedback {
                .block-feedback {
                    padding: 20px;
                    .feedback-description {
                        width: 100%;
                        text-align: justify;
                        h2 {
                            font-size: 17px;
                            padding-bottom: 20px;
                            text-align: center;
                            font-weight: 700;
                        }
                        #feedback-button {
                            font-size: 12px;
                            padding-top: 0px;
                            padding-bottom: 10px;
                            .feedback-button {
                                height: 40px;
                                width: 150px;
                            }
                        }
                    }
                }
            }
            .block-partners {
                padding-top: 40px;
                padding-bottom: 30px;
                h2 {
                    padding-bottom: 25px;
                    font-size: 24px;
                }
                img {
                    width: 100%;
                }
                .partner-section-input {
                    padding-top: 50px;
                    padding-bottom: 10px;
                    p {
                        text-align: center;
                        font-size: 16px;
                        font-weight: 600;
                        padding-bottom: 15px;
                    }
                    .input-group {
                        margin: 0 auto;
                        max-width: 330px;
                        .form-control {
                            font-size: 16px;
                        }
                        .input-group-append {
                            .btn-outline-secondary {
                                background-color: #292929;
                                border: 1px solid #292929;
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
    footer {
        .footer-menu-link {
            text-decoration: none;
            color: #fff;
            text-align: left;
            &:hover {
                text-decoration: none;
            }
            p {
                text-align: left;
            }
        }
        .social-footer-mobile {
            text-align: center;
            padding-top: 20px;
            padding-bottom: 15px;
            p {
                text-align: center;
            }
        }
        .footer-logo {
            p {
                font-size: 12px;
                text-align: center;
            }
        }
    }
}